.cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.item {
  max-width: 50%;
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: #fff5b5;
  color: purple;
  border: 6px dashed pink;
}
