/* .header__namecard,
.header__subtext {
  background-color: pink;
  color: black;
  text-align: center;
} */

.main__header {
  background-color: pink;
  color: purple;
  text-align: center;
  padding: 1rem;
}

.header__subtext {
  font-style: italic;
}

.subsection__header__container {
  display: flex;
  justify-content: center;
}

.subsection__header {
  background-color: pink;
  color: purple;
  max-width: fit-content;
  padding: 1rem;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  background-color: pink;
  color: purple;
  padding: 0.25rem;
  cursor: pointer;
}

.cancel__button {
  background-color: #eb947c;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
}

.btn:hover,
.cancel__button:hover {
  background-color: purple;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
}

.delete__button:hover {
  background-color: crimson;
  color: antiquewhite;
  padding: 0.25rem;
  cursor: pointer;
}

.button_group {
  display: flex;
  flex-direction: column;
}
