.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: #fff5b5;
  color: purple;
  border: 6px dashed pink;
}
